.git
.gitignore
.vscode
.idea
__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.venv/
env/

*.sqlite3
db.sqlite3
data/

media/
staticfiles/

.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store

node_modules/

docker-compose.yml
README.md