BLOG_ENV_ID=local
BLOG_SECRET_KEY=your-secret-key-here
BLOG_DEBUG=True
BLOG_ALLOWED_HOSTS=127.0.0.1,localhost

BLOG_DB_NAME=blog_api
BLOG_DB_USER=blog_user
BLOG_DB_PASSWORD=your-db-password
BLOG_DB_HOST=localhost
BLOG_DB_PORT=5432